<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>i'm in the app.component.html file!</h3>
            <hr>
            <app-servers></app-servers>
            
            <!-- for this one to work, you need to pass in '[app-servers]' in selector of .ts -->
            <!-- <div app-servers></div> -->

            <!-- for this one to work, you need to pass in '.app-servers' in .ts to work -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>