<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>i'm in the app.component.html file!</h3>
            <hr>

            <!-- for this one to work, you need to pass in '[app-servers]' in selector of .ts -->
            <!-- <div app-servers></div> -->

            <!-- for this one to work, you need to pass in '.app-servers' in .ts to work -->
            <!-- <div class="app-servers"></div> -->
        </div>

    </div>
    <!-- <div class="row">
        <div class="col-xs-12">
            <app-success-alert></app-success-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username">
        <p>{{ username }}</p>
        <button class="btn btn-primary" [disabled]="username == ''" (click)="onAddUsername()">Add username</button>

      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12">
        <app-servers></app-servers>
      </div>
    </div>
</div>
